@charset "UTF-8";

body{
    background: url(../img/fundo.jpg) no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: auto;
    overflow-x: hidden;
}

img#logo{
    width: 150px;
    height: 150px;
    margin-left: 10%;
    margin-top: 30px;
}

div#cadastroClie{
    margin-top: 100px;
}
/*
input {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border:1px solid #ccc;
  font-size:20px;
  //width:300px;
  //min-height:30px;
  display:block;
  //margin-bottom:15px;
  //margin-top:5px;
  outline: none;

  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -o-border-radius:5px;
  -ms-border-radius:5px;
  border-radius:5px;
}

select#estadocli {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border:1px solid #ccc;
  font-size:20px;
  //width:300px;
  //min-height:30px;
  display:block;
  //margin-bottom:15px;
  //margin-top:5px;
  outline: none;

  //-webkit-border-radius:5px;
  //-moz-border-radius:5px;
  //-o-border-radius:5px;
  //-ms-border-radius:5px;
  //border-radius:5px;
}

input[type=submit] {
  background:none;
  padding:10px;
}*/